body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  background: #242424 url("../img/index_bg.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 12px;
  background-color: #000000;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 9px;
  cursor: pointer;
}
.btn:hover {
  background-color: #663d15;
}
/*******************header********************/
.header_page {
  margin: 0;
  margin-bottom: 55px;
  background: #000000;
  color: #ffffff;
  min-height: 70px;
}
.header_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  font-size: 0;
  max-width: 710px;
}
.header_menu li {
  display: inline-block;
}
.header_menu a {
  font-size: 16px;
  line-height: 1.2;
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 27px 20px 29px;
}
.header_menu a:hover {
  background: #242424;
}
.users_block {
  float: right;
  max-width: 220px;
}
.users_block a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  padding: 27.4px 22px 29.4px 51px;
  position: relative;
}
.users_block a::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 29px;
  left: 19px;
  background: url("../img/icon_login.png") no-repeat;
  opacity: 0.3;
}
.users_block a:hover {
  background: #242424;
}
.users_block a:hover::after {
  opacity: 1;
}
/*******************logo********************/
.logo_page {
  width: 368px;
  height: 204px;
  margin: 0 auto;
}
.logo_page img {
  width: 368px;
  height: 204px;
}
/*******************features********************/
.features {
  font-size: 0;
}
.features_items {
  display: inline-block;
  width: 300px;
  text-align: center;
  vertical-align: top;
  margin-right: 20px;
}
.features_items:last-child {
  margin-right: 0;
}
.features_items h2 {
  font-size: 30px;
  line-height: 1.2;
  margin-top: 23px;
  margin-bottom: 30px;
  padding-bottom: 41px;
  position: relative;
  display: block;
}
.features_items h2::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
}
.features_items p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 79px;
  padding: 0 10px;
}
/*******************index_content********************/
.index_contents {
  width: 780px;
  padding: 47px 80px;
  margin-bottom: 34px;
  color: #000000;
  background: url("../img/vert_line.png") no-repeat center,
      #f8f5f2 url("../img/index_content.png");
}
.index_contents h2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 29px;
}
.index_contents p {
  line-height: 24px;
  margin: 0;
  margin-bottom: 3px;
  padding-right: 40px;
}
.index_contents time {
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 27px;
}
.index_contents .index_content_left {
  float: left;
  width: 350px;
  position: relative;
}
.index_contents .index_content_right {
  float: right;
  width: 300px;
}
.index_content_news {
  width: 115px;
  margin-top: 6px;
}
.index_content_right figure {
  width: 286px;
  height: 164px;
  margin: 0;
  border: 7px solid #ffffff;
  margin-bottom: 44px;
}
.galery_btn_prev,
.galery_btn_next {
  display: inline-block;
  width: 140px;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}
.galery_btn_prev {
  margin-right: 14px;
}
.contacts_btn_map,
.contacts_btn_cb {
  display: inline-block;
  width: 116px;
}
.contacts_btn_map {
  margin-right: 14px;
}
.index_content_contacts a[href="tel:+74956660266"] {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.index_content_contacts a[href="tel:+74956660266"]:hover {
  border-bottom: 2px solid #000000;  
}
.index_content_contacts p:first-of-type {
  margin-bottom: 22px;
}
.index_content_contacts p:last-of-type {
  margin-bottom: 46px;
}
.index_content_right b {
  display: block;
  line-height: 24px;
  margin-bottom: 30px;
}
.index_form_offer {
  font-size: 0;
}
.index_form_offer input {
  background-color: #F9F6F3;
  border: 2px solid #000000;
  display: inline-block;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 15px;
  width: 106px;
}
.index_form_offer input:hover {
  border: 2px solid #663d15;
}
.index_form_offer input:focus {
  border: 2px solid #663d15;
  outline: none;
}
.index_form_offer input:nth-of-type(odd) {
  margin-right: 20px;
}
.index_form_offer input:nth-of-type(1) {
  margin-bottom: 19px;
}
.index_form_offer input:nth-of-type(4) {
  margin-bottom: 34px;
}
.index_form_send {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}
/*******************footer********************/
.footer_page {
  background: #232323 url("../img/footer_bg.png");
  margin-top: 64px;
  min-height: 188px;
  color: #ffffff;
  padding-top: 63px;
}
.footer_contacts {
  float: left;
  width: 380px;
  line-height: 24px;
}
.footer_contacts a {
  color: #ffffff;
  text-decoration: none;
}
.footer_contacts p {
  margin: 0;
}
.footer_socials {
  float: left;
  width: 140px;
  text-align: center;
}
.footer_socials a {
  display: inline-block;
  font-size: 0;
  width: 43px;
  height: 43px;
  background: #000000 url("../img/spritesheet.png") no-repeat;
  -webkit-transition: background-color 3s ease;
     -moz-transition: background-color 3s ease;
      -ms-transition: background-color 3s ease;
       -o-transition: background-color 3s ease;
          transition: background-color 3s ease;
}
.footer_socials a:hover {
  background-color: #ffffff;
}
.footer_socials a.i_v {
    background-position: 0 -163px;
}
.footer_socials a.i_f {
    background-position: 5px -83px;
}
.footer_socials a.i_i {
    background-position: 2px 0;
}
.footer_socials a.i_v:hover {
    background-position: 0 -198px;
}
.footer_socials a.i_f:hover {
    background-position: 5px -124px;
}
.footer_socials a.i_i:hover {
    background-position: 2px -40px;
}
.footer_dev {
  float: right;
  width: 140px;
  text-align: center;
}
.footer_dev .btn {
  margin-top: 15px;
}
/*******************text here********************/
/*******************text here********************/
/*******************text here********************/