body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  background: #242424 url("../img/index_bg.jpg") no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  margin: 0;
  position: relative;
}
.inner_body {
  background: #f8f5f2 url("../img/index_content.png");
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 12px;
  background-color: #000000;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 9px;
  cursor: pointer;
}
.btn:hover {
  background-color: #663d15;
}
/*******************header********************/
.header_page {
  margin: 0;
  margin-bottom: 55px;
  background: #000000;
  color: #ffffff;
  min-height: 70px;
}
.header_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  font-size: 0;
  max-width: 710px;
}
.header_menu li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.header_menu a {
  font-size: 16px;
  line-height: 1.2;
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 26px 20px 28px;
}
.inner_page_logo {
  height: 17px;
}
.header_menu a:hover {
  background: #242424;
}
.header_menu_current::after {
  content: "";
  border-bottom: 4px solid #ffffff;
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}
.users_block {
  float: right;
  max-width: 220px;
}
.users_block a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  padding: 26px 22px 26px 51px;
  position: relative;
}
.users_block a::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 29px;
  left: 19px;
  background: url("../img/icon_login.png") no-repeat;
  opacity: 0.3;
}
.users_block a:hover {
  background: #242424;
}
.users_block a:hover::after {
  opacity: 1;
}
/*******************logo********************/
.logo_page {
  width: 368px;
  height: 204px;
  margin: 0 auto;
}
.logo_page img {
  width: 368px;
  height: 204px;
}
/*******************features********************/
.features {
  font-size: 0;
}
.features_items {
  display: inline-block;
  width: 300px;
  text-align: center;
  vertical-align: top;
  margin-right: 20px;
}
.features_items:last-child {
  margin-right: 0;
}
.features_items h2 {
  font-size: 30px;
  line-height: 1.2;
  margin-top: 23px;
  margin-bottom: 30px;
  padding-bottom: 41px;
  position: relative;
  display: block;
}
.features_items h2::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
}
.features_items p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 79px;
  padding: 0 10px;
}
/*******************index_content********************/
.index_contents {
  width: 780px;
  padding: 47px 80px;
  margin-bottom: 34px;
  color: #000000;
  background: url("../img/vert_line.png") no-repeat center,
  #f8f5f2 url("../img/index_content.png");
}
.index_contents h2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 29px;
}
.index_contents p {
  line-height: 24px;
  margin: 0;
  margin-bottom: 3px;
  padding-right: 40px;
}
.index_contents time {
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 27px;
}
.index_contents .index_content_left {
  float: left;
  width: 350px;
  position: relative;
}
.index_contents .index_content_right {
  float: right;
  width: 300px;
}
.index_content_news {
  width: 115px;
  margin-top: 6px;
}
.index_content_right figure {
  width: 286px;
  height: 164px;
  margin: 0;
  border: 7px solid #ffffff;
  margin-bottom: 44px;
}
.galery_btn_prev,
.galery_btn_next {
  display: inline-block;
  width: 140px;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}
.galery_btn_prev {
  margin-right: 14px;
}
.contacts_btn_map,
.contacts_btn_cb {
  display: inline-block;
  width: 116px;
}
.contacts_btn_map {
  margin-right: 14px;
}
.index_content_contacts a[href="tel:+74956660266"] {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.index_content_contacts a[href="tel:+74956660266"]:hover {
  text-decoration: underline;
}
.index_content_contacts p:first-of-type {
  margin-bottom: 22px;
}
.index_content_contacts p:last-of-type {
  margin-bottom: 46px;
}
.index_content_right b {
  display: block;
  line-height: 24px;
  margin-bottom: 30px;
}
.index_form_offer {
  font-size: 0;
}
.index_form_offer input {
  background-color: #f9f6f3;
  border: 2px solid #000000;
  display: inline-block;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 15px;
  width: 106px;
}
.index_form_offer input:hover {
  border: 2px solid #663d15;
}
.index_form_offer input:focus {
  border: 2px solid #663d15;
  outline: none;
}
.index_form_offer input:nth-of-type(odd) {
  margin-right: 20px;
}
.index_form_offer input:nth-of-type(1) {
  margin-bottom: 19px;
}
.index_form_offer input:nth-of-type(4) {
  margin-bottom: 34px;
}
.index_form_send {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}
.price_header_title {
  font-size: 30px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs a {
  text-decoration: none;
  padding-right: 25px;
  margin-right: 15px;
  color: #000000;
  position: relative;
}
.breadcrumbs a::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.breadcrumbs span {
  color: #aba9a7;
}
.price_header_promo_title {
  margin-top: 48px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.price_header_promo_title h2 {
  display: inline;
  font-size: 48px;
  line-height: 48px;
  padding: 0 26px;
  background: #f8f5f2 url("../img/index_content.png");
  position: relative;
  z-index: 2;
  margin: 0;
}
.price_header_promo_title::after {
  content: "";
  border-bottom: 2px solid #000000;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.price_contents h3 {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.price_content_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.price_content_list li {
  padding-left: 20px;
  margin-top: 21px; 
  margin-bottom: 12px;
  position: relative;
}
.price_content_list li::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.price_content_table {
  margin-top: 38px;
  width: 100%;
  border-collapse: collapse;
}
.price_content_table td {
  border: 2px solid #000000;
  padding: 11px 17px;
  width: 50%;
}
.price_content_table td:last-child {
  text-align: center;
}
.price_content_left.text_il_24,
.price_content_right.text_il_24 {
  font-size: 14px;
  line-height: 24px;
}
.price_content_left {
  float: left;
  width: 460px;
}
.price_content_right {
  float: right;
  width: 460px;
}
/*******************footer********************/
.footer_page {
  background: #232323 url("../img/footer_bg.png");
  margin-top: 64px;
  min-height: 188px;
  color: #ffffff;
  padding-top: 63px;
}
.footer_contacts {
  float: left;
  width: 400px;
  line-height: 24px;
}
.footer_contacts a {
  color: #ffffff;
  text-decoration: none;
}
.footer_contacts a.i_map_modal {
  text-decoration: underline;
}
.footer_contacts a.i_map_modal:hover {
  text-decoration: none;
}
.footer_contacts a[href="tel:+74956660266"] {
  text-decoration: none;
}
.footer_contacts a[href="tel:+74956660266"]:hover {
  text-decoration: underline;
}
.footer_contacts p {
  margin: 0;
}
.footer_socials {
  float: left;
  width: 140px;
  text-align: center;
}
.footer_socials a {
  display: inline-block;
  font-size: 0;
  width: 43px;
  height: 43px;
  background: #000000 url("../img/spritesheet.png") no-repeat;
  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
}
.footer_socials a:hover {
  background-color: #ffffff;
}
.footer_socials a.i_v {
  background-position: 0 -163px;
}
.footer_socials a.i_f {
  background-position: 5px -83px;
}
.footer_socials a.i_i {
  background-position: 2px 0;
}
.footer_socials a.i_v:hover {
  background-position: 0 -198px;
}
.footer_socials a.i_f:hover {
  background-position: 5px -124px;
}
.footer_socials a.i_i:hover {
  background-position: 2px -40px;
}
.footer_dev {
  float: right;
  width: 140px;
  text-align: center;
}
.footer_dev .btn {
  margin-top: 15px;
}
/*******************indexmodal********************/
.users_block_modal {
  background: #f9f6f3 url("../img/index_content.png");
  color: #000000;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -230px;
  padding: 45px 80px;
  width: 300px;
  min-height: 260px;
  -webkit-box-shadow: 0 0 20px 2px rgba(255,255,255,0.3);
          box-shadow: 0 0 20px 2px rgba(255,255,255,0.3);
  z-index: 2;
  display: none;
}
.index_opacity {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  z-index: 1;
  opacity: 0.5;
  display: none;
}
.users_block_close {
  width: 35px;
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: -45px;
  background: transparent;
}
.users_block_close::after,
.users_block_close::before {
  content: "";
  display: block;
  width: 5px;
  height: 25px;
  background: #ffffff;
  position: absolute;
  left: 15px;
  top: 5px;
}
.users_block_close::after {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.users_block_close::before {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.users_block_modal h2 {
  font-size: 30px;
  margin: 0;
}
.users_block_modal input[type="text"],
.users_block_modal input[type="password"] {
  border: 2px solid #000000;
  background-color: #f9f6f3;
  text-transform: uppercase;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  padding: 10px 40px 10px 15px;
  width: 241px;
  outline: none;
}
.users_block_modal input[type="text"] {
  background: url("../img/users_modal.png") no-repeat 265px center;
}
.users_block_modal input[type="password"] {
  background: url("../img/passw_modal.png") no-repeat 265px center;
}
.users_block_modal input[type="text"]:focus,
.users_block_modal input[type="password"]:focus {
  border: 2px solid #663d15;
}
.users_block_modal input[type="text"]:hover,
.users_block_modal input[type="password"]:hover {
  border: 2px solid #663d15;
}
.users_block_modal input[type="text"] {
  margin-bottom: 11px;
}
.users_block_modal input[type="password"] {
  margin-bottom: 15px;
}
.users_block_modal label {
  padding-left: 32px;
  position: relative;
}
.users_block_checked input[type="checkbox"] {
  display: none;
}
.users_block_checked input[type="checkbox"] + .checkbox_indicators {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  position: absolute;
  left: 0;
  top: -2px;
}
.users_block_checked input[type="checkbox"]:checked + .checkbox_indicators::before,
.users_block_checked input[type="checkbox"]:checked + .checkbox_indicators::after {
  content: "";
  width: 2px;
  height: 16px;
  background: #000000;
  position: absolute;
  left: 7px;
  top: 0;
}
.checkbox_indicators::before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.checkbox_indicators::after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.users_block_modal a {
  color: #000000;
  float: right;
}
.users_block_modal a:hover {
  text-decoration: none;
}
.users_block_modal_submit {
  width: 100%;
  margin-top: 20px;
}
.i_map_modal_open {
  width: 767px;
  height: 561px;
  border: 7px solid #ffffff;
  -webkit-box-shadow: 0 0 10px 2px #000000;
          box-shadow: 0 0 10px 2px #000000;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 50%;
  margin-left: -390px;
  background: #ffffff url("../img/modal_map.jpg") no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: none;
}